<div
  (click)="onValueChange(!selected)"
  class="form-check input-component"
  [class.not-highlighted]="highlighted === false"
  [class.highlighted]="highlighted"
  (mousemove)="highlightedEvent.emit()"
>
  <input
    [ngModel]="selected"
    (ngModelChange)="onValueChange($event)"
    (click)="$event.stopPropagation()"
    [id]="uid"
    type="checkbox"
    class="form-check-input"
    #inputRef
  />
  <label (click)="$event.stopPropagation()" [for]="uid" class="form-check-label"><ng-content></ng-content></label>
</div>
