@import './helpers.scss';

:root {
  @include v(navbar-height, 56px);

  @include color(background-dark, #343a40);
  @include color(background-light, #acb5bd);
}

.full-height {
  height: full-height();
  max-height: full-height();
}

button:disabled {
  cursor: initial;
}

.card-small {
  padding: 0.2rem !important;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}

.card-header:first-child {
  border: none !important;
  border-radius: 0 !important;
}

body {
  background-color: var(--vimtur-color-background-light) !important;
  display: inline;
}

.small-response {
  @media (max-width: 576px) {
    display: none !important;
  }
}

.lg-response {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.xxl-response {
  @media (max-width: 1320px) {
    display: none !important;
  }
}
