@import './helpers.scss';

:root {
  @include v(navbar-height, 56px);

  @include color(background-dark, #343a40);
  @include color(background-light, #acb5bd);
}

.full-height {
  height: full-height();
  max-height: full-height();
}

angular2-multiselect {
  width: 100%;
}
