**/node_modules/*
.idea/*
config.json
log/*
**/nohup.out
pid/*
**/*.log
**/dist/*
screenshots/*
README.md
**/tsconfig.tsbuildinfo
**/.schema-build-info
test*/*
.git/
client/dist
client/.angular
screenshots
Dockerfile*
