**/node_modules/*
**.ckd2
testdb/*
.idea/*
config.json
log/*
**/nohup.out
pid/*
**/*.log
utils/*.json
**/dist/*
**/tsconfig.tsbuildinfo
**/.schema-build-info
test*.sh
test_data*
dump/*
version
data/
**/.yarn
