!!!!! REMOVE ALL COMMENTS !!!!!
{
  "port": 8989, // HTTP listen port
  "username": "user", // Optional username. Delete this field to disable auth.
  "password": "pass", // Optional password. Delete this field to disable auth.
  "libraryPath": "/path/to/media/library",
  "cachePath": "/path/to/media/cache", // Important! This cannot be inside the library! It also gets quite big.
  "database": {
    "provider": "mongodb",
    "host": "localhost",
    "username": "mongo",
    "password": "mongo",
    "database": "vimtur",
    "port": 27017
  },
}
