<div class="main-body">
  <ng-container *ngIf="!media; else showMediaType">
    <div class="loading">
      Loading media
      <ngb-progressbar
        type="info"
        [value]="100"
        [striped]="true"
        [animated]="true"
      ></ngb-progressbar>
    </div>
  </ng-container>

  <ng-template #showMediaType>
    <div class="card image-container">
      <ng-container *ngTemplateOutlet="leftPanel"></ng-container>
    </div>
    <ng-container *ngIf="media.type !== 'still'; else showMediaCloneData">
      <div class="right-panel">
        Clone detection is currently only possible for still images.
      </div>
    </ng-container>
  </ng-template>

  <ng-template #showMediaCloneData>
    <ng-container *ngIf="!media.clones; else showMediaCloneCount">
      <div class="right-panel">
        This media doesn't have any data about potential clones. Generate it on the Config page.
      </div>
    </ng-container>
  </ng-template>

  <ng-template #showMediaCloneCount>
    <ng-container *ngIf="media.clones.length === 0; else showLoadingClones">
      <div class="right-panel">
        This media doesn't have any clones.
      </div>
    </ng-container>
  </ng-template>

  <ng-template #showLoadingClones>
    <ng-container *ngIf="!clones; else showClones">
      <div class="loading right-panel">
        Loading potential clones
        <ngb-progressbar
          type="info"
          [value]="100"
          [striped]="true"
          [animated]="true"
        ></ngb-progressbar>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #leftPanel>
    <div class="card-header card-small">Current</div>
    <div class="card-body">
      <img
        class="img-fluid img-thumbnail thumbnail"
        [src]="'/cache/thumbnails/' + media.hash + '.png'"
      />
      <p *ngIf="media.metadata" class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">Resolution</strong>
        {{ media.metadata.width }}x{{ media.metadata.height }}
      </p>
      <ng-container *ngIf="media.metadata">
        <p class="media-body pb-1 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">Artist</strong>
          {{ media.metadata.artist || 'Unknown' }}
        </p>
        <p class="media-body pb-1 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">Album</strong>
          {{ media.metadata.album || 'Unknown' }}
        </p>
        <p class="media-body pb-1 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">Title</strong>
          {{ media.metadata.title || 'Unknown' }}
        </p>
      </ng-container>
      <p class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">Tags</strong>
        {{ media.tags && media.tags.length ? media.tags.join(', ') : 'No tags' }}
      </p>
      <p class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">People</strong>
        {{ media.actors && media.actors.length ? media.actors.join(', ') : 'No people' }}
      </p>
      <p class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">Hash</strong>
        {{ media.hash }}
      </p>
      <p class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">Path</strong>
        {{ media.path }}
      </p>
    </div>
  </ng-template>

  <ng-template #showClones>
    <div class="right-panel gallery">
      <a
        routerLink="/viewer"
        *ngFor="let m of clones"
        class="d-block h-100 image-container gallery-image-container"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="getHoverText(m)"
        (click)="collectionService.goto(m.hash)"
      >
        <img class="img-fluid img-thumbnail" [src]="'/cache/thumbnails/' + m.hash + '.png'" />
        <div class="type caption">
          <strong>{{ getTitle(m) }}</strong>
          <div class="subtitle">{{ getSubtitle(m) }}</div>
        </div>
      </a>
    </div>
  </ng-template>
</div>
