img {
  object-fit: contain;
  width: 380px;
  height: 210px;
}

.clickable {
  cursor: pointer;
}

.check-circle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  pointer-events: none;

  & > svg {
    opacity: 0.4;
    color: var(--secondary);
  }
}

.check-circle.checked {
  & > svg {
    opacity: 1;
    color: var(--primary);
  }
}

.image-container {
  max-width: 380px;
  margin: 0.2rem;
  position: relative;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  flex: 1;

  & > :not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

.image-container.checked {
  outline: 0.2rem solid var(--primary);
}

.padded-auto {
  margin-bottom: auto;
  flex: 1;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

h5 {
  margin-bottom: 0;
}

.type {
  text-transform: capitalize;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.9rem;
  text-align: center;
}

.main-body {
  display: flex;
  flex-direction: row;
  background-color: var(--vimtur-color-background-light);
  margin: 0;
}

.right-panel {
  flex: 1;
  display: flex;
  height: max-content;
  // For if it overflows the main height.
  background-color: var(--vimtur-color-background-light);
}
