.gallery-img {
  object-fit: contain;
  width: calc(380px - 0.2rem);
  height: 244px;
  margin: auto;
}

app-preview {
  display: flex;
}

.image-container {
  padding: 0.1rem;
  justify-content: center;
  display: flex;
  flex: 1;

  & > :not(:last-child) {
    padding-bottom: 0.2rem;
  }

  & > .card {
    min-width: 360px;
    flex: 1;
  }
}

.card-body {
  flex: initial !important;
}

.card-header > strong {
  display: block;
  max-width: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.type {
  text-transform: capitalize;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.9rem;
  text-align: center;
}
