.gallery-img {
  object-fit: contain;
  width: 380px;
  height: 210px;
  padding-top: 1rem;
}

app-preview {
  display: flex;
}

.image-container {
  padding: 0.5rem;
  max-width: 380px;
}

.gallery {
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.type {
  text-transform: capitalize;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  margin: auto;
  max-width: 75%;
  padding-top: 4rem;
}

.subtitle {
  font-size: 0.9rem;
  text-align: center;
}
