h4:not(:first-child) {
  margin-top: 1rem;
}

h5 {
  margin-top: 1rem;
}

.form-padded-input {
  margin-top: 1rem;
}

.input-component {
  margin-top: 1rem;
}

.tag-config {
  margin-top: 0.5rem;
}

.table {
  margin-top: 1rem;
}

.clear-icon {
  height: 1.5rem;
}

.clear-all-button {
  padding: 0;
  margin: 0;
}

.card {
  margin: 0.2rem;
  padding: 1rem;
}

.container {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
