h4 {
  margin-top: 2rem;
}

h5 {
  margin-top: 1rem;
}

.form-padded-input {
  margin-top: 1rem;
}

.input-component {
  margin-top: 1rem;
}

.pad-bottom {
  padding-bottom: 2rem;
}

.tag-config {
  margin-top: 0.5rem;
}
