h4 {
  margin-top: 2rem;
}

h5 {
  margin-top: 1rem;
}

.form-padded-input {
  margin-top: 1rem;
}

.input-component {
  margin-top: 1rem;
}

.pad-bottom {
  padding-bottom: 2rem;
}

.tag-config {
  margin-top: 0.5rem;
}

.table {
  margin-top: 1rem;
}

.clear-icon {
  height: 1.5rem;
}

.clear-all-button {
  padding: 0;
  margin: 0;
}
