<ng-container *ngIf="useNativeObservable | async; else desktopTemplate">
  <select class="custom-select">
    <option *ngIf="text; else placeholderTemplate" selected>{{ text }}</option>
    <ng-template #placeholderTemplate>
      <option selected disabled>{{ placeholder || '' }}</option>
    </ng-template>
  </select>

  <!-- This select is rendered invisible on top of the old one. So this one will capture the users clicks. -->
  <!-- Also the normal multi-select rendering is a load of crap. It's a list. Doing this allows rendering it sensibly -->
  <select
    multiple
    class="hidden-select"
    (ngModelChange)="onNativeSelectChange($event)"
    [ngModel]="valueInternal"
  >
    <option *ngFor="let opt of basicOptions || []; trackBy: trackByFn" [value]="opt.value">{{
      opt.name
    }}</option>
  </select>
</ng-container>

<ng-template #desktopTemplate>
  <select
    class="custom-select"
    [class.focus]="open"
    (mousedown)="
      $event.preventDefault(); $event.button === 0 && (open = !open); selectRef.focus(); onResize()
    "
    (keydown)="onKeydown('select', $event)"
    (focusout)="onFocusOut()"
    #selectRef
  >
    <option *ngIf="text; else placeholderTemplate" selected>{{ text }}</option>
    <ng-template #placeholderTemplate>
      <option selected disabled>{{ placeholder || '' }}</option>
    </ng-template>
  </select>

  <div
    [style.bottom]="dropBottom"
    [style.max-height]="dropdownMaxHeight"
    (window:resize)="onResize()"
    tabindex="0"
    class="select-content"
    [class.closed]="!open"
    (mouseenter)="inContent = true"
    (mouseleave)="inContent = false"
    (focusout)="onFocusOut()"
    (keydown)="onKeydown('div', $event)"
    #dropdownRef
  >
    <ng-content></ng-content>
  </div>
</ng-template>
