.reset-button {
  margin-left: 1rem;
}

.col-md {
  padding: 0.1rem;
}

.card {
  // Lines up the bottom of the columns
  height: 100%;
}

.tag-wrapper {
  padding: 0.5rem;
}

.container-fluid {
  margin: 0.1rem;
  width: calc(100% - 0.2rem);
}
