<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <input type="text" (keyup.enter)="modal?.close(text)" [(ngModel)]="text" class="form-control" />
</div>
<div class="modal-footer row footer-padding">
  <div class="md-6">
    <button type="button" class="btn btn-danger col-12" (click)="modal?.close(undefined)">
      Cancel
    </button>
  </div>
  <div class="md-6">
    <button
      type="button"
      class="btn btn-primary col-12"
      [disabled]="!text"
      (click)="modal?.close(text)"
    >
      Confirm
    </button>
  </div>
</div>
