h4 {
  margin-top: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > :first-child {
    padding-right: 1rem;
  }
}

.thumbnail {
  max-height: 160px;
}

.container {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.loading {
  margin: auto;
  width: 75%;
  padding-top: 4rem;
}

.form-card {
  padding: 0 2rem 1rem 2rem;
  margin: 0.2rem 0;
}

.form-padded-input {
  margin-top: 1rem;
}

.input-component {
  margin-top: 1rem;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #0062cc;
  width: 100%;
  line-height: 2rem;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #0062cc;
}

.horizontal {
  & > * {
    display: flex;
    padding: 0.2rem;

    & > * {
      flex: 1;
    }
  }
}
