<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-footer row footer-padding">
  <div class="md-6">
    <button type="button" class="btn col-12" [class.btn-danger]="!negative" [class.btn-primary]="negative" (click)="modal?.close(false)">
      Cancel
    </button>
  </div>
  <div class="md-6">
    <button type="button" class="btn col-12" [class.btn-danger]="negative" [class.btn-primary]="!negative" (click)="modal?.close(true)">
      Confirm
    </button>
  </div>
</div>
