@import '../../../helpers.scss';

.main-panel {
  height: calc(100% - 0.4rem);
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.tag-header {
  height: 2rem;
  min-width: 10rem;

  & > button {
    width: 1.5rem;
  }
}

.tag-label {
  margin-bottom: 0rem;
  padding-left: 0.25rem;
}

.card-small {
  display: flex;
  flex-direction: row;
}

.card-header > a {
  margin-left: auto;
}

.btn {
  padding: 0;
  margin-left: 0.25rem;
  & > svg {
    margin: 0;
    padding: 0.25rem;
    width: 1.5rem;
  }
}

.form-control {
  width: initial;
  flex: 1;
}

.form-check {
  width: initial;
  flex: 1;
  max-height: 1.5rem;
}

.tag-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
}

.tag-panel {
  height: 100%;
}

.margin-bottom {
  margin: 0 0 0.25rem 0 !important;
}

.tag-list-column {
  display: flex;
  flex-flow: column;
  padding-right: 0.5rem;
}

.tag {
  white-space: nowrap;
  margin-bottom: 0;
}

.ui-autocomplete-token {
  margin: auto !important;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #0062cc;
  width: 100%;
  line-height: 2rem;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #0062cc;
}
