.align {
  align-items: center;
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.9rem;
}

h4.align {
  margin: 0;
}

.preview-column {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.drag-handle {
  width: 2rem;
  cursor: pointer;
}

.thumbnail {
  height: 120px;
  opacity: 0.4;
}

.clickable {
  cursor: pointer;
}

.back-icon {
  width: 2rem;
}

.card {
  margin: 0;
  margin-bottom: 0.25rem;
  padding: 1rem;
}

.container-lg {
  // Blank space so drop-down doesn't extend the page.
  margin-bottom: 5rem;
}
