.form-padded-input {
  margin-top: 1rem;
}

.input-component {
  margin-top: 1rem;
}

.clear-icon {
  height: 1.5rem;
}

.align {
  align-items: center;
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.9rem;
}

h4.align {
  margin: 0;
}

.preview-column {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.back-icon {
  width: 2rem;
}

.thumbnail {
  height: 120px;
  opacity: 0.4;
}

.clickable {
  cursor: pointer;
}

.card {
  margin: 0.2rem;
  padding: 1rem;
}

.container-lg {
  padding-left: 0.1rem;
  padding-right: 0.1rem;

  // Blank space so drop-down doesn't extend the page.
  margin-bottom: 5rem;
}
