@import '../../../helpers.scss';

.nav-button-group {
  margin-right: 1rem;
}

.navbar-override {
  z-index: 20;
  // Craziness because it weirdly offsets the heights of the buttons on mobile otherwise.
  //flex-wrap: nowrap;
}

.height-override {
  height: v(navbar-height);
}

.icon {
  height: 1.5rem;
}

.paginator {
  cursor: auto;
  &:hover {
    color: #28a745 !important;
    background-color: transparent !important;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

div.btn {
  -webkit-appearance: initial;
}
