@import '../../../helpers.scss';

.main-body {
  display: flex;
  flex-direction: row;
  background-color: color(background-light);
}

.left-panel {
  flex: 0;
}

.right-panel {
  flex: 1;
  display: flex;
}

.video-player {
  width: 100%;
  height: 100%;
}

.image-viewer {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.text-overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  width: calc(100% - 0.2rem);
  padding: 0.2rem;
  z-index: 1;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
