<div class="main-body">
  <div class="left-panel full-height" *ngIf="tagsOpen">
    <app-tag-panel></app-tag-panel>
  </div>
  <div class="right-panel full-height">
    <div *ngIf="media && tagsOpen && config && config.user.quickTagShowPath" class="text-overlay">
      {{ media.path }}
    </div>
    <div
      *ngIf="media && media.autoTags && tagsOpen && config && config.user.quickTagShowAutoTags"
      class="text-overlay bottom"
    >
      May contain: {{ media.autoTags | formatArray }}
    </div>
    <ng-container *ngIf="media; else loading">
      <app-video-player
        class="video-player"
        [class.hidden]="!media || media.type !== 'video'"
        [media]="media"
      ></app-video-player>
      <!-- This ridiculous madness forces the img element to recreate so it doesnt show the old one during loading -->
      <ng-container *ngIf="media.type !== 'video'">
        <img
          *ngFor="let hash of [media.hash]"
          [src]="'/api/images/' + hash + '/file'"
          class="image-viewer"
        />
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <app-loading class="image-viewer"></app-loading>
</ng-template>
